<div class="row">
  <div class="col-lg-3" style="padding-left: 5px; padding-right: 5px; ">
    <div class="row">
      <div class="col-lg-12">
        <nb-card style="margin-bottom: 10px">
          <nb-card-header>BOP Stack</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Upper Annular</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Gas Bleed Valve</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon style="color: red;" icon="bulb" status="primary"></nb-icon> Choke
                    Connector</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="warning"></nb-icon> Wellhead Connector</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Lower Bind Shear</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Upper Pipe Ram</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Lower Pipe Ram</span>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon style="color: red;" icon="bulb" status="primary"></nb-icon> Lower
                    Annular</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> LMRP Connector</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="warning"></nb-icon> Kill Connector</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Upper Bind Shear</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Casting Shear Ram</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Middle Pipe Ram</span>
                </div>
                <div class="row">
                  <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Test Ram</span>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="padding-right: 0px;">
        <nb-card style="margin-bottom: 10px">
          <nb-card-header>Power</nb-card-header>
          <nb-card-body>
            <div class="col-12">
              <div class="row">
                <span style="padding: 0.3rem;"><nb-icon style="color: red;" icon="bulb" status="primary"></nb-icon> Surface
                  Power</span>
              </div>
              <div class="row">
                <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Subsea Power</span>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-6">
        <nb-card style="margin-bottom: 10px">
          <nb-card-header>Communications</nb-card-header>
          <nb-card-body>
            <div class="col-12">
              <div class="row">
                <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Surface Communication</span>
              </div>
              <div class="row">
                <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Subsea Communication</span>
              </div>
            </div>
          </nb-card-body>
        </nb-card>    
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nb-card style="margin-bottom: 10px">
          <nb-card-header>API Standard 53 Class 4 Compliance</nb-card-header>
          <nb-card-body>
            <div class="row">
              <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> One Annular</span>
            </div>
            <div class="row">
              <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Two Pipe Rams, 
                And Two Shear Rams Available </span>
            </div>
            <div class="row">
              <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Deadman and Auto shear Systems Available</span>
            </div>
            <div class="row">
              <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Rigid Conduits and Hotline Available to Control Pods</span>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
   
    <!-- <nb-card style="margin-bottom: 10px">
      <nb-card-header>Communications</nb-card-header>
      <nb-card-body>
        <div class="col-12">
          <div class="row">
            <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Surface Communication</span>
          </div>
          <div class="row">
            <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Subsea Communication</span>
          </div>
        </div>
      </nb-card-body>
    </nb-card> -->
    <!-- <nb-card style="margin-bottom: 10px">
      <nb-card-header>Hydraulics</nb-card-header>
      <nb-card-body>
        <div class="col-12">
          <div class="row">
            <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> HPU</span>
          </div>
          <div class="row">
            <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Mixing System</span>
          </div>
        </div>
      </nb-card-body>
    </nb-card >
    <nb-card style="margin-bottom: 10px">
      <nb-card-header>Pod</nb-card-header>
      <nb-card-body>
        <div class="col-12">
          <div class="row">
            <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Blue Pod</span>
          </div>
          <div class="row">
            <span style="padding: 0.3rem;"><nb-icon icon="bulb" status="primary"></nb-icon> Yellow Pod</span>
          </div>
        </div>
      </nb-card-body>
    </nb-card> -->
  </div>
  <div class="col-lg-3" style="padding-left: 5px; padding-right: 5px; ">
    <nb-card style="height: 100%;">
      <nb-card-header>Status</nb-card-header>
      <nb-card-body>
        <ngx-bop-status></ngx-bop-status>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6" style="padding-left: 5px; padding-right: 5px; ">
    <nb-card style="height: 100%;">
      <nb-card-header>Failure Propagation</nb-card-header>
      <nb-card-body>
        <ngx-fault-tree></ngx-fault-tree>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.title" [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="solarValue"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->